<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Colaboradores</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{ url_for('static', filename='css/responsive.css')}}" rel="stylesheet" />


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('modal');
            var modalContent = document.querySelector('.modal-content');
            var closeModal = document.querySelector('.close');
            var userInfos = {
                user1: 'Información detallada del usuario 1.',
                user2: 'Información detallada del usuario 2.',
                user3: 'Información detallada del usuario 3.'
                // Añadir más información para más usuarios según sea necesario
            };

            // Función para abrir el modal y mostrar la información del usuario
            function showModal(userId) {
                modal.style.display = 'block';
                document.getElementById('user-info').innerText = userInfos[userId];
            }

            // Función para cerrar el modal
            function closeModalFunc() {
                modal.style.display = 'none';
            }

            // Event listeners para mostrar y cerrar el modal
            document.querySelectorAll('.user-item').forEach(function (item) {
                item.addEventListener('click', function () {
                    var userId = this.getAttribute('data-user');
                    showModal(userId);
                });
            });

            closeModal.addEventListener('click', closeModalFunc);
            window.addEventListener('click', function (event) {
                if (event.target === modal) {
                    closeModalFunc();
                }
            });
        });


        // Funcion para habilitar


    </script>

</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="{{ url_for('ingreso')}}">
                        <span>
                            Micelu.co
                        </span>
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ url_for('ingresoactivos')}}">INGRESO </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ url_for('activos')}}"> ACTIVOS <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ url_for('colaborador')}}"> COLABORADORES <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ url_for('inhabilitado')}}">INACTIVOS <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">CERRAR SESION</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </nav>
            </div>
        </header>
        <br>

        <div class="listacolaboradores">
            <h1>Listado de Colaboradores</h1>
            <br>
            <div class="row justify-content-center mb-4">
                <div class="col-md-5">
                    <div class="input-group">
                        <input id="searchInput" class="form-control border-dark with-icon" type="search"
                            placeholder="Buscar activos" aria-label="Buscar">
                        <button class="btnn1" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="user-list">
                {% for colaborador in colaboradores %}
                <li class="user-item" data-id="{{ colaborador.idcolaborador }}">{{ colaborador.nombres }}</li>
                {% endfor %}
            </ul>
        </div>

        {% for colaborador in colaboradores %}
        <div id="modal-{{ colaborador.idcolaborador }}" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3 class="text-center">INFORMACIÓN DETALLADA DE COLABORADOR</h3>

                <form class="infogeneral">
                    <div class="container-fluid">
                        <div class="form-grid">
                            <div class="form-group">
                                <div class="form-group1">
                                    <label for="nombres">NOMBRES: {{ colaborador.nombres }}</label>
                                </div>
                                <div class="form-group1">
                                    <label for="cedula">CEDULA: {{ colaborador.cedula }}</label>
                                </div>
                                <div class="form-group1">
                                    <label for="cargo">CARGO: {{ colaborador.cargo }}</label>
                                </div>
                                <div class="form-group1">
                                    <label for="correos">CORREO: {{ colaborador.correos }}</label>
                                </div>
                                <div class="form-group1">
                                    <label for="usuariomicel">USUARIO MICELU: {{ colaborador.usuariomicel }}</label>
                                </div>
                                <div class="form-group1">
                                    <label for="contrasenas">CONTRASEÑA: {{ colaborador.contrasenas }}</label>
                                </div>
                                <div class="form-group1">
                                    <label for="jefeinmediato">JEFE INMEDIATO: {{ colaborador.jefeinmediato }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="accesos">
                    <h3>USUARIOS Y ACCESOS</h3>
                    <table class="usuariosaccesos">
                        <thead>
                            <tr>
                                <th>Correo Corporativo</th>
                                <th>Usuario General</th>
                                <th>Contraseña Correo</th>
                                <th>Contraseña Usuario</th>
                                <th>Usuario Monday</th>
                                <th>Contraseña Monday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td1">{{ colaborador.correos }}</td>
                                <td class="td1">{{ colaborador.usuariomicel }}</td>
                                <td class="td1">{{ colaborador.contrasenas }}</td>
                                <td class="td1">{{ colaborador.contrasenas }}</td>
                                <td class="td1">{{ colaborador.usuario_monday or 'N/A' }}</td>
                                <td class="td1">{{ colaborador.contrasena_monday or 'N/A' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="asignados">
                    <h3>ACTIVOS ASIGNADOS</h3>
                    <table class="equiposasignados">
                        <thead>
                            <tr>
                                <th>Tipo de Activo</th>
                                <th>Modelo</th>
                                <th>Serial</th>
                                <th>Contraseña</th>
                                <th>Fecha de Compra</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if colaborador.nombres in dispositivos_por_colaborador %}
                            {% for activo in dispositivos_por_colaborador[colaborador.nombres] %}
                            <tr>
                                <td class="td1">{{ activo.tipoActivo }}</td>
                                <td class="td1">{{ activo.modelo }}</td>
                                <td class="td1">{{ activo.serial }}</td>
                                <td class="td1">{{ activo.contrasena }}</td>
                                <td class="td1">{{ activo.fechaCompra }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">No hay activos asignados</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modals = document.querySelectorAll('.modal');
            var userItems = document.querySelectorAll('.user-item');
            var closeButtons = document.querySelectorAll('.close');

            userItems.forEach(function (item) {
                item.addEventListener('click', function () {
                    var modalId = 'modal-' + this.getAttribute('data-id');
                    document.getElementById(modalId).style.display = 'block';
                });
            });

            closeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    this.closest('.modal').style.display = 'none';
                });
            });

            window.addEventListener('click', function (event) {
                modals.forEach(function (modal) {
                    if (event.target == modal) {
                        modal.style.display = 'none';
                    }
                });
            });
        });
    </script>
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            let searchQuery = this.value.toLowerCase();
            let userItems = document.querySelectorAll('.user-item');

            userItems.forEach(function (item) {
                let itemName = item.textContent.toLowerCase();
                if (itemName.includes(searchQuery)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    </script>

</body>

</html>